<!--Main Navigation-->
<header class="mb-10">

  <!-- Section: Split screen -->
  <section class="">

    <div class="container-fluid">

      <div class="main row">
        <div class=" section right col-lg-8" style="background-color:white;">
          <div class="row ms-2">
            <h1 class="text-dark mt-5" style="--bs-text-opacity: .9;">Informations</h1>
            <h1 class="text-dark" style="--bs-text-opacity: .9;">personnelles</h1>
            <h6 class="text-dark mt-3" style="--bs-text-opacity: .6; ">Veuillez insérer vos informations de base pour
            </h6>
            <h6 class="text-dark" style="--bs-text-opacity: .6;">la création de votre compte</h6>
          </div>
          <div class="row mt-5 ms-5">
            <div class="col-md-5 mb-3">
              <label for="inputName" class="form-label">Nom</label>
              <input type="text" class="form-control" placeholder="Nom" id="inputName" aria-label="Nom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputLastName" class="form-label">Prénom</label>
              <input type="text" class="form-control" placeholder="Prénom" id="inputLastName" aria-label="Prénom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputName" class="form-label">Date de naissance</label>
              <input type="text" class="form-control" placeholder="01/03/2002" id="inputName" aria-label="Nom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputLastName" class="form-label">Adresse</label>
              <input type="text" class="form-control" placeholder="N°11, rue 39" id="inputLastName" aria-label="Prénom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputName" class="form-label">Email</label>
              <input type="text" class="form-control" id="inputName" aria-label="Nom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputLastName" class="form-label">Confirmation Email</label>
              <input type="text" class="form-control" id="inputLastName" aria-label="Prénom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputName" class="form-label">N° de patente</label>
              <input type="text" class="form-control" id="inputName" aria-label="Nom">
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputLastName" class="form-label">N° d’immatriculation au registre de commerce</label>
              <input type="text" class="form-control" id="inputLastName" aria-label="Prénom">
            </div>
            <div class="col-md-5 mb-3">
              <div class="row">
                <label for="inputName" class="form-label">Phone number</label>
                <div class="col-md-3">
                  <input class="form-control" list="numlistOptions" id="exampleDataList" placeholder="+000">
                  <datalist id="numlistOptions">
                    <option value="+212">
                    <option value="+33">
                    <option value="+49">
                    <option value="+41">
                    <option value="+351">
                  </datalist>
                </div>
                <div class="col-md-9 mb-3">
                  <input type="text" class="form-control" id="inputName" aria-label="Nom">
                </div>
              </div>
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputLastName" class="form-label">Piece d'identite</label>
              <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="CIN">
              <datalist id="datalistOptions">
                <option value="CIN">
                <option value="Passeport">
              </datalist>
            </div>
          </div>
        </div>
        <div class="section left col-lg-4" style="background-color:#CFCFCF;">
          <div class="row ms-5">
            <h1 class="text-dark mt-5" style="--bs-text-opacity: .9;">Pièces jointes</h1>
            <div class="row g-3 mt-3">
              <div class="col-md-9 mb-3">
                <label for="formFile" class="form-label">Fichier</label>
                <input class="form-control" type="file" id="formFile" style="background-color: #42505C; color: white;">
              </div>
              <div class="col-md-9 mb-3">
                <label for="Description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="Description"></textarea>
              </div>
            </div>
          </div>
          <div class="button row g-3 mt-5 ms-5">
            <div class="col-md-3 ms-5">
              <button type="submit" class="btn" style="background-color: #42505C; color: white;">Enregistrer</button>
            </div>
            <div class="col-md-1 ms-5">
              <button type="submit" class="btn btn-primary"
                style="background-color: #42505C; color: white;">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section: Split screen -->

</header>
<!--Main Navigation-->